<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h3>Create a new Listing</h3>
            <br />

            <form method="post" action="/listings" novalidate class="needs-validation">

                <div class="mb-3">
                    <label for="Title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add your title" class="form-control" required />
                    <div class="valid-feedback">Title looks good!</div> <br />
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control needs-validation"
                        placeholder="Enter description" required></textarea>
                    <div class="invalid-feedback">Please enter a suitable description...</div><br />
                </div>

                <div class="mb-3">
                    <label for="Image" class="form-label">Image</label>
                    <input type="text" name="listing[image]" class="form-control" placeholder="Enter image URL" />
                    <div class="invalid-feedback">Please enter a correct URL</div> <br />
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="Price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" class="form-control" placeholder="Enter price" required />
                        <div class="invalid-feedback">Please enter a valid price</div> <br />
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="Location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" class="form-control" placeholder="Enter location" required />
                        <div class="invalid-feedback">Please enter a suitable location...</div> <br />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" class="form-control" placeholder="Enter country" required />
                    <div class="invalid-feedback">Please enter a suitable country...</div><br /><br />
                </div>

                <button type="submit" class="btn btn-dark btn-clr">Add</button>
            </form>
        </div>
    </div>
</body>
</html>
