<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">

                <h3>Create a new Listing</h3>
                <br />

                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                        <lable for="Title" class="form-lable">Title</lable>
                        <input type="text" name="listing[title]" placeholder="add your title" class="form-control"
                            required />

                        <div class="valid-feedback">Title looks good!</div> <br />
                    </div>

                    <div class="mb-3">
                        <lable for="Description" class="form-lable">description</lable>
                        <textarea type="text" name="listing[description]" class="form-control needs-validation"
                            placeholder="enter description" required></textarea>

                        <div class="invalid-feedback">please enter suitable description...</div><br />
                    </div>

                  
                    
                      <div class="mb-3">
                        <lable for="Image" class="form-lable">Image</lable>
                        <input type="text" name="listing[image]" class="form-control" placeholder="enter img url" />

                        <div class="invalid-feedback">please enter correct url</div> <br />
                    </div> 

                        <div class="invalid-feedback">please enter correct url</div> <br />
                    </div>



                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <lable for="Price" class="form-lable">Price</lable>
                            <input type="number" name="listing[price]" class="form-control" placeholder="enter price"
                                required />

                            <div class="invalid-feedback">please enter Right Price</div> <br />
                        </div>

                        <div class="mb-3 col-md-8">
                            <lable for="Location" class="form-lable">location</lable>
                            <input type="text" name="listing[location]" class="form-control"
                                placeholder="enter location" required />

                            <div class="invalid-feedback">please enter suitable location...</div> <br />
                        </div>
                    </div>

                    <div class="mb-3">
                        <lable for="Country" class="form-lable">country</lable>
                        <input type="text" name="listing[country]" class="form-control" placeholder="enter country"
                            required />

                        <div class="invalid-feedback">please enter suitable country...</div><br /><br />
                    </div>

                    <button type="submit" class="btn btn-dark btn-clr">Add</button>
                </form>
    </body>

    </div>
    </div>

    </html>