<% layout("/layouts/boilerplate") %>

<div class="row mt-5">
    <h1 class="col-6 offset-3 mb-5">Login On Museum App</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <lable for="username" class="form-lable">Username</lable>
                <input type="text" name="username"  placeholder="add username" class="form-control" id="username"
                    required />

                    <!-- <div class="valid-feedback">  looks good!</div> <br /> -->

            </div>

           

            <div class="mb-3">
                <lable for="password" class="form-lable">Password</lable>
                <input type="password" name="password"  placeholder="add password" class="form-control" id="password" required
                    required />

                    <!-- <div class="valid-feedback">  looks good!</div> <br /> -->

            </div>

            <button class="btn btn-success">Login</button>
            <h3 class="basic"></h3><b><br></b>
        </form>
    </div>
</div>